# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go tests -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# IntelliJ IDEA
.idea/
*.iml
